.circle_loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  border-top-color: var(--blue-bg);
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
