@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=IBM+Plex+Sans:wght@200&family=Titillium+Web:wght@300&display=swap");

:root {
  --blue-bg: #6186f3;
  --light-white-bg: #f1f1f1;
  --para-light-black: #727272;
  --noteapp-darkModeBtn-bg: #4f4f50;
  --noteapp-logo-size: clamp(7rem, 7vw, 8rem);
  --noteapp-navbar-font-size: clamp(2rem, 2.2rem, 3vw);
  --noteapp-button-font-size: clamp(1.7rem, 2rem, 3vw);
  --noteapp-heading-font-size: clamp(2rem, 3.5rem, 4vw);
  --noteapp-body-img-size: clamp(30rem, 35vw, 60rem);
  --nodeapp-header-height: 7rem;
  --box-shadow: 0 6px 6px -4px #777;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 600;
  box-sizing: border-box;
  letter-spacing: 0.07rem;
  font-family: "Didact Gothic", sans-serif;
}

html {
  font-size: 62.5%;
}

html,
body,
#root {
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  transition: all 0.2s;
}

body {
  margin: auto;
  height: 100%;
}

.padding {
  padding: 1rem 4rem;
}

.show {
  transform: translateY(0) !important;
}

.show-UserInfo {
  transform: translateX(0) !important;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--para-light-black);
}
